#Library-container {
	justify-content: center;
	align-items: center;
}

#title {
  color: aqua;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 25px;
  height: 300px;
  width: 250px;
  padding: 15px;
  margin: 20px;
  background-color: #fbd082;
}


#removeBtn {
  font-size: 20px;
  height: 35px;
  width: 110px;
  border-radius: 10px;
  border: solid 3px black;
  background-color: #d7d9da;
}

.readBtn { 
  font-size: 20px;
  height: 35px;
  width: 110px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 3px black;
}